body{
    background-color:#f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden; /*Removes scrollbars if something goes outside container*/
}

.output h1{
    font-size: 20px;
}

.wish-form input{
    padding: 10px;
    width: 90%;
    overflow: hidden;
}

.hotel-element{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 16px;
    text-indent: 1%;
    border:0.5px solid black;
}

.hotel-name{
    float: left;
    width: 40%;
}

.hotel-link{
    float: right;
    width: 60%;
    text-align: left;
}

.hotel-link a{
    color: #333;
    text-decoration: none;
}

#request{
    width: 70%;
    float: left;
    box-sizing: border-box;
}

#query{
    width: 30%;
    float: right;
    box-sizing: border-box;
}

#main-header{
    background-color:rgb(0, 145, 189);
    color: #fff;
}

#navbar{
    background-color: #333;
    color: #fff;
    padding: 15px;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display: inline; /*Instead of block to display horizontally not one over another*/
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding-right: 15px; /*to create space between each link*/
}

#main-footer{
    position: absolute;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}
